.dockerignore
.git/
vendor/
node_modules/
public/js/
public/css/
yarn-error.log
.DS_Store
.env.*
.idea/
cert/

bootstrap/cache/*
storage/logs/*
storage/debugbar/*
storage/framework/views/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*

storage/app/backup/*
storage/app/backup-temp/*
storage/app/public/*
