/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.cache
public/js/app.js

public/js/
public/css/

.DS_Store
*.bk
*.delete
*copy.*
delete
auth.json
sftp-config.json

.idea
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

/graph.png

tmp

.php_cs.cache
deploy