* * * * * nohup /usr/local/bin/php /var/www/html/artisan schedule:run >> /var/www/html/storage/logs/laravel.log 2>&1 &
* * * * * /bin/bash /var/www/html/docker/cron.sh >> /var/www/html/storage/logs/laravel.log 2>&1
